In [2]:
import pandas as pd # as permite renombrar la libreria
import numpy as np

In [3]:
series = pd.Series([100,np.NaN,500,1500])
series

0     100.0
1       NaN
2     500.0
3    1500.0
dtype: float64

In [4]:
# fillna: reemplaza los valores non
series.fillna(0) #rellenar los datos NaN con 0

0     100.0
1       0.0
2     500.0
3    1500.0
dtype: float64

In [5]:
#dropna no considera valores nan dentro de la salida de mi resultado 0
series.dropna()

0     100.0
2     500.0
3    1500.0
dtype: float64

In [6]:
#is null muestra los datos que han cambiado de valor, los datos vacios o 0
series.isnull()

0    False
1     True
2    False
3    False
dtype: bool