In [1]:
import pandas as pd
import numpy as np

In [2]:
#Creando mi DataSeries
s1 = pd.Series(["Marcos","Susana","Luis","Magaly"])
s1

0    Marcos
1    Susana
2      Luis
3    Magaly
dtype: object

In [3]:
#Convertir Dataseries a DataFrame
df = s1.to_frame()
df

        0
0  Marcos
1  Susana
2    Luis
3  Magaly

In [4]:
#colocando un nombre a la cabecera del DataFrame:
df.rename(columns={0: "nombres"}, inplace= True) #inplace permite mantener el nombre de las cabeceras en las siguientes ejecuciones
df

  nombres
0  Marcos
1  Susana
2    Luis
3  Magaly

In [7]:
#Cambiar el nombre de las filas del DataFrame:
df.rename(index={0: "Empleado1",1: "Empleado2"},inplace= True)
df #imprimiendo el DataFrame

          nombres
Empleado1  Marcos
Empleado2  Susana
2            Luis
3          Magaly

In [8]:
#Reemplazar todos los datos de la primera columna
#df[0] = "Mar√≠a" #cambia a todos los emelentos de la columna 0 con "maria"

In [9]:
df

          nombres
Empleado1  Marcos
Empleado2  Susana
2            Luis
3          Magaly