In [2]:
import pandas as pd
import numpy as np

pd.__version__

'1.4.2'

In [3]:
s1 = pd.Series(500)
s1

0    500
dtype: int64

In [6]:
s2 = pd.Series([-10,0,50,-5])
s2

0   -10
1     0
2    50
3    -5
dtype: int64

In [7]:
s1[0]

500

In [8]:
s2[3]

-5

In [9]:
s2.values

array([-10,   0,  50,  -5], dtype=int64)

In [10]:
s2.index

RangeIndex(start=0, stop=4, step=1)

In [13]:
s3 = pd.Series(["Karla","Gonzales",34, 12323445], index=["Nombre","Apellido","Edad","dni"])
s3

Nombre         Karla
Apellido    Gonzales
Edad              34
dni         12323445
dtype: object

In [14]:
s2 + 10

0     0
1    10
2    60
3     5
dtype: int64

In [15]:
s2*50

0    -500
1       0
2    2500
3    -250
dtype: int64

In [16]:
#Extrayendo los index de mi Data Series (s3)
s3.index

Index(['Nombre', 'Apellido', 'Edad', 'dni'], dtype='object')

In [17]:
s3["Nombre"]

'Karla'

In [18]:
s3[0]

'Karla'

In [19]:
nombres =["Maria","Luisa","Evelyn","Luis"]
sueldos= [100,50,1000,5000]

cuenta = pd.Series(sueldos, index = nombres)
cuenta

Maria      100
Luisa       50
Evelyn    1000
Luis      5000
dtype: int64

In [20]:
#suma de datos Series:
s3 + cuenta

Apellido    NaN
Edad        NaN
Evelyn      NaN
Luis        NaN
Luisa       NaN
Maria       NaN
Nombre      NaN
dni         NaN
dtype: object