In [1]:
import pandas as pd
import urllib.request as url2

In [3]:
url = "https://datahub.smcgov.org/id/mb6a-xn89.json"

response = url2.urlopen(url)
response

In [4]:
df = pd.read_json(url)
df

,geography,geography_type,year,less_than_high_school_graduate,high_school_graduate,some_college_or_associate_s_degree,bachelor_s_degree_or_higher,location_1,:@computed_region_uph5_8hpn,:@computed_region_i2t2_cryp
0,Atherton,Town,2014-01-01T00:00:00.000,13.6,12.3,2.7,3.5,"{'type': 'Point', 'coordinates': [-122.2, 37.4...",2.0,28596
1,Colma,Town,2014-01-01T00:00:00.000,6.3,6.4,10.4,2.4,"{'type': 'Point', 'coordinates': [-122.455556,...",4.0,28588
2,Foster City,City,2014-01-01T00:00:00.000,11.9,9.7,2.0,2.9,"{'type': 'Point', 'coordinates': [-122.266389,...",6.0,319
3,Portola Valley,Town,2014-01-01T00:00:00.000,48.1,0.0,0.0,1.8,"{'type': 'Point', 'coordinates': [-122.218611,...",14.0,28597
4,Redwood City,City,2014-01-01T00:00:00.000,16.4,10.6,6.6,3.0,"{'type': 'Point', 'coordinates': [-122.236111,...",21.0,28607
5,Ladera,CDP,2014-01-01T00:00:00.000,0.0,0.0,0.0,0.0,"{'type': 'Point', 'coordinates': [-122.274167,...",27.0,28591
6,Moss Beach,CDP,2014-01-01T00:00:00.000,4.8,8.2,9.3,3.5,"{'type': 'Point', 'coordinates': [-122.512778,...",30.0,28600
7,South San Francisco,City,2014-01-01T00:00:00.000,14.2,7.8,4.4,4.1,"{'type': 'Point', 'coordinates': [-122.425556,...",19.0,28613
8,Belmont,City,2014-01-01T00:00:00.000,20.9,5.9,5.0,3.6,"{'type': 'Point', 'coordinates': [-122.291667,...",15.0,28585
9,Daly City,City,2014-01-01T00:00:00.000,13.4,8.9,6.1,6.1,"{'type': 'Point', 'coordinates': [-122.468333,...",NaN,28588
10,San Mateo,City,2014-01-01T00:00:00.000,16.1,9.6,6.5,3.4,"{'type': 'Point', 'coordinates': [-122.313056,...",13.0,317
11,North Fair Oaks,CDP,2014-01-01T00:00:00.000,26.7,13.4,18.5,4.6,"{'type': 'Point', 'coordinates': [-122.203611,...",31.0,28608
12,Emerald Lake Hills,CDP,2014-01-01T00:00:00.000,6.2,2.0,4.1,2.2,"{'type': 'Point', 'coordinates': [-122.266389,...",24.0,28607
13,Hillsborough,Town,2014-01-01T00:00:00.000,31.1,6.1,1.5,1.4,"{'type': 'Point', 'coordinates': [-122.356389,...",8.0,28587
14,Brisbane,City,2014-01-01T00:00:00.000,0.0,1.7,11.5,3.3,"{'type': 'Point', 'coordinates': [-122.419167,...",NaN,28586
15,Menlo Park,City,2014-01-01T00:00:00.000,22.1,12.0,8.7,2.9,"{'type': 'Point', 'coordinates': [-122.183333,...",12.0,28595
16,Pacifica,City,2014-01-01T00:00:00.000,15.1,4.3,4.3,4.6,"{'type': 'Point', 'coordinates': [-122.485556,...",9.0,28604
17,San Carlos,City,2014-01-01T00:00:00.000,8.5,8.4,4.4,2.3,"{'type': 'Point', 'coordinates': [-122.2668, 3...",18.0,28611
18,Highlands-Baywood Park,CDP,2014-01-01T00:00:00.000,15.7,13.6,10.2,3.3,"{'type': 'Point', 'coordinates': [-122.343333,...",25.0,317
19,East Palo Alto,City,2014-01-01T00:00:00.000,18.3,16.4,17.2,9.1,"{'type': 'Point', 'coordinates': [-122.139722,...",5.0,312
20,Broadmoor,CDP,2014-01-01T00:00:00.000,21.2,8.0,3.0,2.4,"{'type': 'Point', 'coordinates': [-122.478889,...",22.0,28589
21,Millbrae,City,2014-01-01T00:00:00.000,7.0,7.8,5.3,3.7,"{'type': 'Point', 'coordinates': [-122.401389,...",11.0,28598
22,Loma Mar,CDP,2014-01-01T00:00:00.000,100.0,0.0,0.0,0.0,"{'type': 'Point', 'coordinates': [-122.3075, 3...",28.0,28592
23,Woodside,Town,2014-01-01T00:00:00.000,0.0,9.4,6.8,3.2,"{'type': 'Point', 'coordinates': [-122.259722,...",20.0,28607
24,Half Moon Bay,City,2014-01-01T00:00:00.000,9.5,4.0,0.7,1.4,"{'type': 'Point', 'coordinates': [-122.436944,...",7.0,28590
25,San Bruno,City,2014-01-01T00:00:00.000,7.7,7.7,7.0,3.0,"{'type': 'Point', 'coordinates': [-122.425278,...",1.0,28610
26,Pescadero,CDP,2014-01-01T00:00:00.000,44.4,0.0,0.0,0.0,"{'type': 'Point', 'coordinates': [-122.381389,...",32.0,28605
27,El Granada,CDP,2014-01-01T00:00:00.000,9.2,4.3,9.1,2.4,"{'type': 'Point', 'coordinates': [-122.473333,...",23.0,28590
28,West Menlo Park,CDP,2014-01-01T00:00:00.000,37.8,0.0,5.7,3.6,"{'type': 'Point', 'coordinates': [-122.203056,...",34.0,28595
29,Montara,CDP,2014-01-01T00:00:00.000,3.3,0.0,0.0,0.0,"{'type': 'Point', 'coordinates': [-122.506389,...",29.0,28599
30,Burlingame,City,2014-01-01T00:00:00.000,20.1,8.3,7.4,3.7,"{'type': 'Point', 'coordinates': [-122.363611,...",16.0,28587
31,La Honda,CDP,2014-01-01T00:00:00.000,0.0,0.0,11.9,0.0,"{'type': 'Point', 'coordinates': [-122.197222,...",26.0,28597

In [5]:
df.head(8) #visualizar 8 datos

,geography,geography_type,year,less_than_high_school_graduate,high_school_graduate,some_college_or_associate_s_degree,bachelor_s_degree_or_higher,location_1,:@computed_region_uph5_8hpn,:@computed_region_i2t2_cryp
0,Atherton,Town,2014-01-01T00:00:00.000,13.6,12.3,2.7,3.5,"{'type': 'Point', 'coordinates': [-122.2, 37.4...",2.0,28596
1,Colma,Town,2014-01-01T00:00:00.000,6.3,6.4,10.4,2.4,"{'type': 'Point', 'coordinates': [-122.455556,...",4.0,28588
2,Foster City,City,2014-01-01T00:00:00.000,11.9,9.7,2.0,2.9,"{'type': 'Point', 'coordinates': [-122.266389,...",6.0,319
3,Portola Valley,Town,2014-01-01T00:00:00.000,48.1,0.0,0.0,1.8,"{'type': 'Point', 'coordinates': [-122.218611,...",14.0,28597
4,Redwood City,City,2014-01-01T00:00:00.000,16.4,10.6,6.6,3.0,"{'type': 'Point', 'coordinates': [-122.236111,...",21.0,28607
5,Ladera,CDP,2014-01-01T00:00:00.000,0.0,0.0,0.0,0.0,"{'type': 'Point', 'coordinates': [-122.274167,...",27.0,28591
6,Moss Beach,CDP,2014-01-01T00:00:00.000,4.8,8.2,9.3,3.5,"{'type': 'Point', 'coordinates': [-122.512778,...",30.0,28600
7,South San Francisco,City,2014-01-01T00:00:00.000,14.2,7.8,4.4,4.1,"{'type': 'Point', 'coordinates': [-122.425556,...",19.0,28613

In [6]:
#data.info() -> Imprime un resumen consico de un DataFrame: índice columnas
df.info() #muestra resumen de columnas, tipo de datos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 10 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   geography                           32 non-null     object
 1   geography_type                      32 non-null     object
 2   year                                32 non-null     object
 3   less_than_high_school_graduate      32 non-null     float64
 4   high_school_graduate                32 non-null     float64
 5   some_college_or_associate_s_degree  32 non-null     float64
 6   bachelor_s_degree_or_higher         32 non-null     float64
 7   location_1                          32 non-null     object
 8   :@computed_region_uph5_8hpn         30 non-null     float64
 9   :@computed_region_i2t2_cryp         32 non-null     int64
dtypes: float64(5), int64(1), object(4)
memory usage: 2.6+ KB

In [7]:
#obtener la media, solo de datos float, int, (no objetos)
df.mean()

C:\Users\dg_su\AppData\Local\Temp\ipykernel_8640\534040984.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

less_than_high_school_graduate           17.800000
high_school_graduate                      6.462500
some_college_or_associate_s_degree        5.946875
bachelor_s_degree_or_higher               2.856250
:@computed_region_uph5_8hpn              17.733333
:@computed_region_i2t2_cryp           25062.093750
dtype: float64

In [8]:
#para obtener la media de una sola columna especifica es utiliza:
df['high_school_graduate'].mean() #media de la columna high school graduate

6.462500000000001

In [9]:
#saber el tipo de dato que estamos analizando
type(df) #este objeto es del tipo dataframe

pandas.core.frame.DataFrame

In [10]:
#saber el numero de columanas y filas
df.shape #(cantidad registros, columnas)

(32, 10)

In [11]:
#obtener el nombre de las columnas:
df.columns

Index(['geography', 'geography_type', 'year', 'less_than_high_school_graduate',
       'high_school_graduate', 'some_college_or_associate_s_degree',
       'bachelor_s_degree_or_higher', 'location_1',
       ':@computed_region_uph5_8hpn', ':@computed_region_i2t2_cryp'],
      dtype='object')

In [12]:
#obtener datos estadisticos como promedio, media, etc
df['high_school_graduate'].describe()

count    32.000000
mean      6.462500
std       4.693905
min       0.000000
25%       1.925000
50%       7.750000
75%       9.450000
max      16.400000
Name: high_school_graduate, dtype: float64

In [13]:
#obtener el valor minimo de una columna especifica
df['high_school_graduate'].min()

0.0

In [14]:
#obtener el valor maximo de una columna especifica
df['high_school_graduate'].max()

16.4

In [15]:
#obtener la cantidad de registros que tiene la columna especifica
df['high_school_graduate'].count()

32