In [2]:
import numpy as np
import pandas as pd

In [3]:
#Crear dataSeries
data_Serie = pd.Series([-5,50,0,-1,-35])
data_Serie

0    -5
1    50
2     0
3    -1
4   -35
dtype: int64

In [4]:
#Ordenar de manera ascendente los valores de la serie de menor a mayor
data_Serie.sort_values()

4   -35
0    -5
3    -1
2     0
1    50
dtype: int64

In [6]:
#Ordenar los indices de menor a mayor
data_Serie.sort_index()

0    -5
1    50
2     0
3    -1
4   -35
dtype: int64

In [7]:
#Crear un dataSerie
data_serie_2 = pd.Series([40,20,34,28,60], index=["Karla","Luis","Jorge","Carlo","Medelein"])
data_serie_2

Karla       40
Luis        20
Jorge       34
Carlo       28
Medelein    60
dtype: int64

In [8]:
#ordenar por indice: alfabeticamente
data_serie_2.sort_index()

Carlo       28
Jorge       34
Karla       40
Luis        20
Medelein    60
dtype: int64

In [10]:
#ordenar por valor: de mayor a menor
data_serie_2.sort_values()

Luis        20
Carlo       28
Jorge       34
Karla       40
Medelein    60
dtype: int64

In [12]:
#Crear un dataSerie
data_serie_3 = pd.Series([7,np.nan,-2,0,np.nan,8,-5,np.nan,40.0])
data_serie_3

0     7.0
1     NaN
2    -2.0
3     0.0
4     NaN
5     8.0
6    -5.0
7     NaN
8    40.0
dtype: float64

In [13]:
#ordenar por valores, los datos NaN los envia al final
data_serie_3.sort_values()

6    -5.0
2    -2.0
3     0.0
0     7.0
5     8.0
8    40.0
1     NaN
4     NaN
7     NaN
dtype: float64