In [1]:
import numpy as np
import pandas as pd

In [3]:
#creando dataseries:
s_1 =pd.Series([2,6,10,34,50], name = 'bono')
s_1

0     2
1     6
2    10
3    34
4    50
Name: bono, dtype: int64

In [4]:
s_2 = pd.Series([1000,1500,3000,3500,5000],name="ingresos")
s_2

0    1000
1    1500
2    3000
3    3500
4    5000
Name: ingresos, dtype: int64

In [6]:
#Concatenando las 2 series para formar un DataFrame:
numbers = pd.concat([s_1,s_2],axis=1)
numbers

   bono  ingresos
0     2      1000
1     6      1500
2    10      3000
3    34      3500
4    50      5000

In [7]:
type(numbers)

pandas.core.frame.DataFrame

In [8]:
#Renombrar las columnas del dataframe
numbers.columns = ["% Ganancias", "Sueldos"]
numbers

   % Ganancias  Sueldos
0            2     1000
1            6     1500
2           10     3000
3           34     3500
4           50     5000