In [1]:
import numpy as np
import pandas as pd

In [2]:
#crear un diccionario para mi dataFrame
dict_data = {
    'puesto' : [1,2,3,4,5,6],
    'seccion' : ['B','C','A','C','E','F'],
    'promedio' : np.random.normal(0,20,6) #valores ramdom de 0 a 20, 6 valores
}

dict_data

{'puesto': [1, 2, 3, 4, 5, 6],
 'seccion': ['B', 'C', 'A', 'C', 'E', 'F'],
 'promedio': array([ -1.09311606,   0.83711754,  19.26607619, -16.67814215,
         29.12147841,   2.20887932])}

In [5]:
#Creando dataframe
frame_data = pd.DataFrame(dict_data, index = pd.date_range('2021-01-01',periods=6))
frame_data

            puesto seccion   promedio
2021-01-01       1       B  -1.093116
2021-01-02       2       C   0.837118
2021-01-03       3       A  19.266076
2021-01-04       4       C -16.678142
2021-01-05       5       E  29.121478
2021-01-06       6       F   2.208879

In [6]:
#ordenando los valores de la columna promedio:
frame_data['promedio'].sort_values()

2021-01-04   -16.678142
2021-01-01    -1.093116
2021-01-02     0.837118
2021-01-06     2.208879
2021-01-03    19.266076
2021-01-05    29.121478
Name: promedio, dtype: float64

In [8]:
#obtener el indice mayor
frame_data['promedio'].idxmax()

Timestamp('2021-01-05 00:00:00', freq='D')

In [9]:
#obtener el indice menor
frame_data['promedio'].idxmin()

Timestamp('2021-01-04 00:00:00', freq='D')