In [1]:
import numpy as np
import pandas as pd

In [3]:
#
df=pd.DataFrame(np.arange(25).reshape(5,5),  #25 elementos, dimension del dataframe 5 filas y 5 columnas
               columns = list("abcde"),   #nombrando las columnas
               index = ["A","B","C","D","E"])  #nombrando los indices                              
df

    a   b   c   d   e
A   0   1   2   3   4
B   5   6   7   8   9
C  10  11  12  13  14
D  15  16  17  18  19
E  20  21  22  23  24

In [4]:
#Suma de columnas de los registros: (suma vertical)
df.sum()

a    50
b    55
c    60
d    65
e    70
dtype: int64

In [5]:
#Suma de indices de los registros: (suma horizontal)
df.sum(axis =1)

A     10
B     35
C     60
D     85
E    110
dtype: int64